<nav>
  <a href="/" alt="Home Page" class="site-link">Home</a>
  <a href="loch" alt="Loch Coffee" class="site-link">The Loch Coffee Company</a>
  <a href="strange" alt="Strange Matter Coffee" class="site-link">Strange Matter Coffee</a>
  <a href="madcap" alt="Madcap Coffee" class="site-link">Madcap Coffee</a>
</nav>
