<nav>
  <a href="loch" alt="Loch Coffee">The Loch Coffee Company</a>
  <a href="strange" alt="Strange Matter Coffee">Strange Matter Coffee</a>
  <a href="madcap" alt="Madcap Coffee">Madcap Coffee</a>
</nav>
