<link rel="stylesheet" type="text/css" href="/css/style.css">

<%- include('../partials/header') %>

<img src="../../public/img/madcap-detroit.jpg" alt="Madcap Detroit">
<p class="description">
When I spent a summer living in downtown Detroit, this was my favorite coffee shop to go to. Madcap coffee also had the artisan coffee shop experience, but what was unique was that they had a garage door like bar window that opened up to the outside. So they had an indoor seating area, and a bar people on the streets could walk up to and order coffee from. They have another location in Grand Rapids which I also visit when I see my oldest brother who lives in the city.
</p>

<%- include('../partials/subheading') %>
<p>
Cold Brew Coffee with Chocolate Croissant
</p>

<a href="https://madcapcoffee.com/" alt="Madcap's Website">Madcap Coffee Website</a>
