<link rel="stylesheet" type="text/css" href="/css/style.css">

<%- include('../partials/header') %>

<img src="../../public/img/donuts.png" alt="Strange Matter Coffee Co">
<p class="description">
Located in Lansing, my friends and I used to go here almost once a week to get their coffee and one of their specialty donuts. There was always an argument on whether it was spelled doughnut or donut. Either way, they have flavors like Smores, Berries and Cream, and more in donut form.
</p>

<%- include('../partials/subheading') %>
<p>
Iced Vanilla Latte with Berries & Cream Donut
</p>

<a href="https://strangemattercoffee.com/" alt="Strange Matter's Website">Strange Matter Website</a>
